@import url("../less/mixins.less");
@import url("../less/resets.less");

html {
    body {

        header {
            position: relative;
            display: flex;
            justify-content: center;
            background-image: url('../images/desktop/image-header.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100vw;
            // height: 82.56vh;
            text-align: center;

            @media screen and (max-width: @mobileSize) {
                background-image: url('../images/mobile/image-header.jpg');
            }

            .title {
                h1 {
                    text-transform: uppercase;
                    color: @White;
                    .fraunces;
                    font-weight: 900;
                    word-spacing: 1rem;
                    letter-spacing: .2rem;
                    font-size: 3rem;
                    margin: 20.5vh 5vw 10.5vh 5vw;

                    @media screen and (max-width: @mobileSize) {
                        margin: 25.5vh 5vw 6vh 5vw;
                        // font-size: 4rem;
                    }

                    // margin: 200px 0 34px 0;

                }

                img {
                    margin-bottom: 33.44vh;

                    @media screen and (max-width: @mobileSize) {
                        width: 10vw;
                        margin-bottom: 20.5vh;
                    }
                }
            }


        }
    }
}