@import url("../less/mixins.less");
@import url("../less/resets.less");

html {
    body {

        header {
            position: relative;
            display: flex;
            justify-content: center;
            background-image: url('../images/desktop/image-header.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100vw;
            // height: 82.56vh;
            text-align: center;

            .title {
                h1 {
                    text-transform: uppercase;
                    color: @White;
                    .fraunces;
                    font-weight: 900;
                    word-spacing: 1rem;
                    letter-spacing: .2rem;
                    font-size: 3rem;
                    margin-top: 20.64vh;
                    margin-bottom: 10.32vh;
                    // margin: 200px 0 34px 0;

                }

                img {
                    margin-bottom: 33.44vh;
                }
            }


        }
    }
}