@import url("../less/mixins.less");
@import url("../less/resets.less");

html {
    body {
        .grid {
            display: grid;
        }

        header {
            position: relative;
            display: flex;
            justify-content: center;
            background-image: url('../images/desktop/image-header.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100vw;
            // height: 82.56vh;
            text-align: center;

            @media screen and (max-width: @mobileSize) {
                background-image: url('../images/mobile/image-header.jpg');
            }

            .title {
                h1 {
                    text-transform: uppercase;
                    color: @White;
                    .fraunces;
                    font-weight: 900;
                    word-spacing: 1rem;
                    letter-spacing: .2rem;
                    font-size: 3rem;
                    margin: 20.5vh 5vw 10.5vh 5vw;

                    @media screen and (max-width: @mobileSize) {
                        margin: 25.5vh 5vw 6vh 5vw;
                        // font-size: 4rem;
                    }

                    // margin: 200px 0 34px 0;

                }

                img {
                    margin-bottom: 33.44vh;

                    @media screen and (max-width: @mobileSize) {
                        width: 10vw;
                        margin-bottom: 20.5vh;
                    }
                }
            }


        }

        main {

            .grid {

                grid-template-columns: 1fr 1fr;
                grid-template-columns: repeat(auto-fit, minmax(calc(@tabletSize / 2), 1fr));


                .grid_item {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;


                    &.text {
                        padding: 0 11vw;

                        @media screen and (max-width: @tabletSize) {
                            text-align: center;
                            padding: 10vh 15vw;
                        }

                        h2 {
                            .fraunces--bold;
                            font-size: 2.5em;

                        }

                        p {
                            padding: 4vh 0;
                            color: @grayishBlue;
                            line-height: 1.4;
                            .barlow;

                        }

                        a {
                            // margin: 0 11vw;
                            .fraunces--bold;
                            text-transform: uppercase;
                            position: relative;
                            align-self: flex-start;

                            @media screen and (max-width: @tabletSize) {
                                align-self: unset;


                            }

                            &:after {
                                position: absolute;
                                content: '';
                                width: 110%;
                                height: 10px;
                                background-color: #FAF0B9;
                                bottom: -2.5px;
                                left: -5%;
                                z-index: -1;
                                // opacity: .5;
                                border-radius: 5px;
                            }


                        }


                    }


                    &.img {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        @media screen and (max-width: @tabletSize) {
                            order: -1;
                        }
                    }
                }

                &.pink {
                    .grid_item {
                        &.text {
                            a {
                                &:after {
                                    background-color: #FCD8D1;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}