.barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
.fraunces {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}
.fraunces--bold {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}
html {
  scroll-behavior: smooth;
}
html * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html body {
  margin: 0;
  padding: 0;
}
html body li {
  list-style: none;
}
html body a {
  text-decoration: none;
  color: unset;
}
html body button {
  background-color: unset;
  border: unset;
  padding: unset;
  cursor: pointer;
}
html body img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
html body picture {
  width: 100%;
  height: auto;
}
html body picture img {
  display: block;
}
html body {
  position: relative;
  width: 100vw;
}
html body .grid {
  display: -ms-grid;
  display: grid;
}
html body p {
  font-size: 18px;
  color: hsl(210, 4%, 67%);
  line-height: 2;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
html body nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
  background-color: #3DBFFF;
}
html body nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 700px) {
  html body nav ul:before {
    content: "\A";
    border-style: solid;
    border-width: 25px 24px 0 0;
    border-color: transparent hsl(0, 0%, 100%) transparent transparent;
    position: absolute;
    right: 0px;
    top: -24px;
  }
}
html body nav ul li button {
  background-color: hsl(0, 0%, 100%);
  padding: 20px 28px;
  border-radius: 75px 75px;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  html body nav ul li button {
    background-color: #FCD601;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 700px) {
  html body nav ul li button:hover {
    color: hsl(0, 0%, 100%);
    background-color: #6ECEFE;
  }
}
@media screen and (max-width: 700px) {
  html body nav {
    padding-left: 5%;
    padding-right: 5%;
  }
}
html body nav .toggle_nav button {
  background-image: url('../images/icon-hamburger.svg');
  width: 28px;
  height: 28px;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 700px) {
  html body nav .toggle_nav {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  html body nav [data-navopen] {
    position: fixed;
    left: 0;
    top: 104px;
    background-color: hsl(0, 0%, 100%);
    min-width: 90%;
    margin: 0 5%;
  }
  html body nav [data-navopen] ul {
    min-height: 30vh;
    margin: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html body nav [data-navopen] ul li {
    font-size: 1.2em;
  }
  html body nav [data-navopen] ul li a {
    color: hsl(210, 4%, 67%);
  }
  html body nav [data-navopen][data-navopen="closed"] {
    display: none !important;
  }
}
html body header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url('../images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  text-align: center;
}
@media screen and (max-width: 700px) {
  html body header {
    background-image: url('../images/mobile/image-header.jpg');
  }
}
html body header .title h1 {
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-weight: 900;
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  margin: 20.5vh 5vw 10.5vh 5vw;
}
@media screen and (max-width: 700px) {
  html body header .title h1 {
    margin: 25.5vh 5vw 6vh 5vw;
  }
}
html body header .title img {
  margin-bottom: 33.44vh;
}
@media screen and (max-width: 700px) {
  html body header .title img {
    width: 10vw;
    margin-bottom: 20.5vh;
  }
}
html body main .grid {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1100px) {
  html body main .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
html body main .grid .grid_item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body main .grid .grid_item.text {
  padding: 0 11vw;
}
@media screen and (max-width: 1100px) {
  html body main .grid .grid_item.text {
    text-align: center;
    padding: 10vh 15vw;
  }
}
html body main .grid .grid_item.text h2 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 2.5em;
}
html body main .grid .grid_item.text p {
  padding: 4vh 0;
}
html body main .grid .grid_item.text a {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 1100px) {
  html body main .grid .grid_item.text a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
html body main .grid .grid_item.text a:after {
  position: absolute;
  content: '';
  width: 110%;
  height: 10px;
  background-color: #FAF0B9;
  bottom: -2.5px;
  left: -5%;
  z-index: -1;
  border-radius: 5px;
}
html body main .grid .grid_item.img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1100px) {
  html body main .grid .grid_item.img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
html body main .grid.pink .grid_item.text a:after {
  background-color: #FCD8D1;
}
html body main .grid .graphic_design,
html body main .grid .photography {
  position: relative;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
html body main .grid .graphic_design .text,
html body main .grid .photography .text {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 45%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 700px) {
  html body main .grid .graphic_design .text,
  html body main .grid .photography .text {
    height: 30%;
  }
}
html body main .grid .graphic_design h2,
html body main .grid .photography h2 {
  font-size: 2em;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  margin: 3vh;
}
html body main .grid .graphic_design p,
html body main .grid .photography p {
  width: 400px;
  font-size: 18px;
  line-height: 140%;
}
html body main .grid .graphic_design picture,
html body main .grid .photography picture {
  width: 100%;
  height: auto;
}
html body main .grid .graphic_design img,
html body main .grid .photography img {
  width: 100%;
  height: auto;
  z-index: -1;
}
html body main .grid .graphic_design p,
html body main .grid .graphic_design h2 {
  color: hsl(167, 40%, 24%);
}
html body main .grid .photography p,
html body main .grid .photography h2 {
  color: hsl(198, 62%, 26%);
}
html body #testimonials {
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin: 160px 0;
}
html body #testimonials h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  word-spacing: 1rem;
  letter-spacing: 0.3rem;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  color: hsl(210, 4%, 67%);
}
html body #testimonials .testimonial__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(1100px / 3), 1fr));
}
html body #testimonials .testimonial__container .testimonial {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}
html body #testimonials .testimonial__container .testimonial img {
  margin: 85px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}
html body #testimonials .testimonial__container .testimonial h3 {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  margin-bottom: 2vh;
}
html body #testimonials .testimonial__container .testimonial p {
  margin-bottom: 85px;
  max-width: 340px;
  color: #696D70;
}
html body #testimonials .testimonial__container .testimonial :last-child {
  font-size: 14px;
  margin-bottom: 0px;
  color: hsl(210, 4%, 67%);
}
@media screen and (max-width: 1100px) {
  html body #testimonials .testimonial__container > :last-of-type {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
@media screen and (max-width: 700px) {
  html body #testimonials .testimonial__container > :last-of-type {
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
}
html body #images {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
html body #images > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html footer {
  text-align: center;
  background-color: #8FD4C5;
  padding: 70px 0;
}
html footer img {
  width: 168px;
  height: auto;
}
html footer .links {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html footer .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
html footer .links ul li {
  margin: 50px 25px 80px 25px;
}
html footer .links ul li a {
  color: #408577;
}
html footer .links ul li a:hover {
  color: hsl(0, 0%, 100%);
}
html footer .links.social ul li {
  margin: 0 15px 0 15px;
}
html footer .links.social ul li a:hover svg path {
  fill: hsl(0, 0%, 100%);
}
.links {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
.links ul li {
  margin: 0px 25px;
  font-size: 0.9em;
}
.links ul li a {
  color: hsl(0, 0%, 100%);
}
