.barlow {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
.fraunces {
  font-family: 'Fraunces', serif;
  font-weight: 700;
}
.fraunces--bold {
  font-family: 'Fraunces', serif;
  font-weight: 900;
}
html * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html body {
  margin: 0;
  padding: 0;
}
html body li {
  list-style: none;
}
html body a {
  text-decoration: none;
  color: unset;
}
html body button {
  background-color: unset;
  border: unset;
  padding: unset;
}
html body .grid {
  display: -ms-grid;
  display: grid;
}
html body header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url('../images/desktop/image-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  text-align: center;
}
@media screen and (max-width: 600px) {
  html body header {
    background-image: url('../images/mobile/image-header.jpg');
  }
}
html body header .title h1 {
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-weight: 900;
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  margin: 20.5vh 5vw 10.5vh 5vw;
}
@media screen and (max-width: 600px) {
  html body header .title h1 {
    margin: 25.5vh 5vw 6vh 5vw;
  }
}
html body header .title img {
  margin-bottom: 33.44vh;
}
@media screen and (max-width: 600px) {
  html body header .title img {
    width: 10vw;
    margin-bottom: 20.5vh;
  }
}
html body main {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body main h2 {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  font-size: 2.5em;
  padding: 0 11vw;
}
html body main p {
  padding: 4vh 11vw;
  color: hsl(210, 4%, 67%);
  line-height: 1.4;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}
html body main a {
  margin: 0 11vw;
  font-family: 'Fraunces', serif;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
}
html body main a:after {
  position: absolute;
  content: '';
  width: 110%;
  height: 10px;
  background-color: yellow;
  bottom: -2.5px;
  left: -5%;
  z-index: -1;
  opacity: 0.5;
  border-radius: 5px;
}
html body main img {
  width: 100%;
}
